/*
=============================
Header
=============================
*/
a {
  color: whitesmoke !important;
}

.header {
  background-color: #3d4655;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-link {
  font-weight: 700;
  position: relative;
}
.nav-link .active {
  background: #ffb400;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 14;
  width: 75%;
}
.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15;
  height: 2px;
  transition: width 0.3s;
  background: #ffc107;
  width: 0px;
}
.nav-link:hover::before {
  width: 50%;
}

.navbarr {
  background-color: #3d4655;
}

.navright {
  padding: 20px;
}

.navleft {
  width: 150px;
  height: 100px;
}

.bg-light {
  background-color: #3d4655;
}

.buttonsearch {
  color: #ffb400 !important;
  border-color: #ffb400 !important;
}

/*
=============================
End of the Header
=============================
*/
.imagesbd {
  width: 100%;
}

.HeaderImg {
  position: relative;
}

.categ {
  position: absolute;
  bottom: 1  00px;
  width: 80%;
  background: #3339;
  padding: 27px 0 7px 60px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.input-style {
  width: 100%;
}

/*
=============================
Category
=============================
*/
.textcategory {
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: #3d4655;
}
.textcategory h1 {
  margin-top: 30px;
}

.section-category {
  margin-bottom: 40px;
}

.category {
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin-top: 20px;
  padding-top: 40px;
  min-height: 220px;
  box-shadow: 15px 10px 25px 0 rgba(41, 128, 185, 0.15);
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.category-icon:hover {
  color: #ffb400;
  transform: scale(1.1);
  opacity: .8;
  text-decoration: none;
  transition: all .3s ease-in;
}

.category i {
  font-size: 40px;
  color: #3d4655;
  width: auto;
  height: auto;
}

.category p {
  font-family: 'Grenze', serif;
  margin-top: 80px;
  font-size: 20px;
  color: #3d4655;
  margin: 30px 40px;
  width: auto;
  transition: 0.6s cubic-bezier(0.45, 0.01, 0.1, 1.49);
}

.category a {
  text-decoration: none;
}

.category a:hover {
  color: #ffb400;
  text-decoration: none;
}

/*
=============================
End of the Category
=============================
*/
.newjob {
  height: 280px;
  width: 100%;
  background-image: url(../images/fon.jpg);
  background-attachment: fixed;
  position: relative;
}

.newjob-text {
  position: absolute;
  background-color: #19170e82;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newjob-text p {
  font-family: 'Bree Serif', serif;
  color: #FFFFFF;
  font-size: 80px;
}

.newjob span {
  color: #ffb400;
}

/*
=============================
Footer
=============================
*/
.footerr {
  background-color: #3d4655;
  width: 100%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

textarea {
  width: 178px;
}

.icon {
  display: flex;
  padding: 0;
  margin: 0;
}

.icon li {
  list-style: none;
  padding: 0 10px;
}

.inputt input {
  margin-bottom: 10px;
}

.button {
  display: block;
}

.button:hover {
  background-color: #14831a;
  border-color: #10c110;
}

.footer-title {
  color: #ffb400;
  font-family: 'Bree Serif', serif;
}

.link-color {
  color: azure;
}

.link-color:hover {
  color: #ffb400;
  text-decoration: none;
}

/*
=============================
End of the Footer
=============================
*/

/*# sourceMappingURL=job.css.map */
